<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="../static/sober.min.js"></script>
    <link rel="stylesheet" href="../static/tailwind.css ">
</head>
<!--居中处理-->
<body style="height: 100%;margin: 0;display:flex;justify-content: space-around;align-items: center;">
<div class="text-sm sm:text-base md:text-lg lg:text-xl">
    <s-card>
        <div slot="headline">MiniRepo</div>
        <div slot="subhead">Subhead</div>
        <div slot="text">Cards are often used for grid lists, which provide click effects</div>
        <s-button slot="action" type="filled-tonal">Action</s-button>
        <s-button slot="action">Action</s-button>
    </s-card>
</div>
</body>
<script>

</script>
</html>