html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.icon {
    width: 75%;
    height: 75%;
}


/*字体颜色-主要*/
.fonts-color-major {
    color: #303133;
}

/*字体颜色-常规*/
.fonts-color-routine {
    color: #606266;
}

/*字体颜色-次要*/
.fonts-color-minor {
    color: #909399;
}