/*颜色等级 0-4 从浅到深*/
.level-0 {
    background: #eae9e9
}

.level-1 {
    background: #c6e48b;
}

.level-2 {
    background: #7bc96f;
}

.level-3 {
    background: #239a3b;
}

.level-4 {
    background: #196127;
}
