/* 通知按钮弹窗的圆形记载状态样式-居中显示 */
.notification-content-circular-progress {
    width: 30px;
    color: #006782; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
