{% extends 'base.html' %}
{% block title %}
{{ super() }}
个人设置
{% endblock %}
{% block navigation %}
{{ super() }}
<li>个人设置</li>
{% endblock navigation %}
{% block main %}
<!--设置的侧边栏菜单-->
<div class="flex flex-1 min-h-0">
    <!-- 左侧菜单 -->
    <div class="w-64  overflow-hidden border-r border-gray-300">
        <ul class="menu rounded-box w-full text-base-content p-4 ">
            <summary class="text-xs text-base-content mb-1 text-gray-500">消息中心</summary>
            <li><a>通知</a></li>
            <div class="divider" style="margin: 0;"></div>
            <summary class="text-xs text-base-content my-1 text-gray-500">基本设置</summary>
            <li><a>用户资料</a></li>
            <li><a>账户</a></li>
            <li><a>密码</a></li>
            <li><a>仓库</a></li>
            <li><a>组织</a></li>
            <div class="divider" style="margin: 0;"></div>
            <summary class="text-xs text-base-content my-1 text-gray-500">安全设置</summary>
            <li><a>电子邮件</a></li>
            <li><a>SSH 密钥</a></li>
            <li><a>GPG 密钥</a></li>
            <li><a>访问令牌</a></li>
            <li><a>活动会话</a></li>
        </ul>
    </div>

    <!-- 右侧内容 -->
    <div class="flex-1 min-h-0 overflow-y-auto p-4">
       {% block setting %}
        {% endblock setting %}
    </div>
</div>

<!--主要显示设置中点击侧边栏标签后显示的页面-->
{% endblock main %}