{% extends 'u_setting.html' %}
{% block title %}
{{ super() }}
· SSH密钥
{% endblock %}
{% block navigation %}
{{ super() }}
<li>SSH密钥</li>
{% endblock navigation %}
{% block setting %}
<div class="projects h-full  p-4">
    <div class="text-xl font-bold">SSH 密钥</div>
    <div class="divider"></div>
    <div class="sshKeys">
        <div class="text-xl font-bold text-gray-800">身份密钥</div>
        <div class="p-2 w-full max-w-full">
            <ul class="list bg-base-100 rounded-box shadow-md">
                <li class="list-row">
                    <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/1@94.webp" />
                    </div>
                    <div>
                        <div>Dio Lupa</div>
                        <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
                    </div>
                    <button class="btn btn-square btn-ghost">
                        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"
                                stroke="currentColor">
                                <path d="M6 3L20 12 6 21 6 3z"></path>
                            </g>
                        </svg>
                    </button>
                    <button class="btn btn-square btn-ghost">
                        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"
                                stroke="currentColor">
                                <path
                                    d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z">
                                </path>
                            </g>
                        </svg>
                    </button>
                </li>
                <li class="list-row">
                    <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/4@94.webp" />
                    </div>
                    <div>
                        <div>Ellie Beilish</div>
                        <div class="text-xs uppercase font-semibold opacity-60">Bears of a fever</div>
                    </div>
                    <button class="btn btn-square btn-ghost">
                        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"
                                stroke="currentColor">
                                <path d="M6 3L20 12 6 21 6 3z"></path>
                            </g>
                        </svg>
                    </button>
                    <button class="btn btn-square btn-ghost">
                        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"
                                stroke="currentColor">
                                <path
                                    d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z">
                                </path>
                            </g>
                        </svg>
                    </button>
                </li>
                <li class="list-row">
                    <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/3@94.webp" />
                    </div>
                    <div>
                        <div>Sabrino Gardener</div>
                        <div class="text-xs uppercase font-semibold opacity-60">Cappuccino</div>
                    </div>
                    <button class="btn btn-square btn-ghost">
                        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"
                                stroke="currentColor">
                                <path d="M6 3L20 12 6 21 6 3z"></path>
                            </g>
                        </svg>
                    </button>
                    <button class="btn btn-square btn-ghost">
                        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"
                                stroke="currentColor">
                                <path
                                    d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z">
                                </path>
                            </g>
                        </svg>
                    </button>
                </li>
                <li class="list-row">
                    <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/1@94.webp" />
                    </div>
                    <div>
                        <div>Dio Lupa</div>
                        <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
                    </div>
                    <button class="btn btn-square btn-ghost">
                        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"
                                stroke="currentColor">
                                <path d="M6 3L20 12 6 21 6 3z"></path>
                            </g>
                        </svg>
                    </button>
                    <button class="btn btn-square btn-ghost">
                        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"
                                stroke="currentColor">
                                <path
                                    d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z">
                                </path>
                            </g>
                        </svg>
                    </button>
                </li>
                <li class="list-row">
                    <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/1@94.webp" />
                    </div>
                    <div>
                        <div>Dio Lupa</div>
                        <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
                    </div>
                    <button class="btn btn-square btn-ghost">
                        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"
                                stroke="currentColor">
                                <path d="M6 3L20 12 6 21 6 3z"></path>
                            </g>
                        </svg>
                    </button>
                    <button class="btn btn-square btn-ghost">
                        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none"
                                stroke="currentColor">
                                <path
                                    d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z">
                                </path>
                            </g>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
       
    </div>
    <div class="divider"></div>
    <div class="addSshKeys">
        <div class="text-xl font-bold text-gray-800">添加密钥</div>
        <div class="p-2 w-full max-w-full">
            <fieldset class="fieldset w-full">
                <legend class="fieldset-legend text-base text-gray-600">
                    <span>标题：</span>
                </legend>
                <input type="text" class="input input-bordered w-full
                focus:outline-none
                focus:border-gray-200
                focus:ring-2
                focus:ring-indigo-200
                focus:outline-2
                focus:outline-offset-0
                focus:outline-indigo-700
               transition-all duration-200 ease-in-out
        " placeholder="密钥标题" />
            </fieldset>
            <fieldset class="fieldset w-full mt-2">
                <legend class="fieldset-legend text-base text-gray-600"><span>密钥：</span></legend>
                <textarea class="textarea w-full h-24
                focus:outline-none
                focus:border-gray-200
                focus:ring-2 focus:ring-indigo-200
                focus:outline-2 focus:outline-offset-0 focus:outline-indigo-700
               transition-all duration-200 ease-in-out
            " placeholder="支持以 'ssh-rsa', 'ssh-dss', 'ssh-ed25519', 'ecdsa-sha2-nistp256', 'ecdsa-sha2-nistp384' or 'ecdsa-sha2-nistp521' 开头"></textarea>
            </fieldset>
            <div class="mt-5">
                <button class="btn
                btn-outline
                font-normal
                 hover:bg-white
                 hover:outline-none
                 hover:border-gray-400
                 hover:ring-2 hover:ring-green-300
                ">创建
                </button>
            </div>

        </div>

    </div>

</div>
{% endblock setting %}