{% extends 'base.html' %}
{% block title %}
{{ super() }}
新建项目
{% endblock %}
{% block navigation %}
{{ super() }}
<li>新建项目</li>
{% endblock navigation %}
{% block js_start %}
{% endblock js_start %}
{% block main %}
<div class="projects h-full border-b border-gray-200 rounded-sm p-4">
    <div class="text-2xl  font-bold">新建项目</div>
    <div class="p-2 w-full max-w-full">
        <fieldset class="fieldset w-full">
            <legend class="fieldset-legend text-base text-gray-600">
                <span class="text-red-500">*</span><span>项目名称：</span>
            </legend>
            <input type="text" class="input input-bordered w-full
            focus:outline-none
            focus:border-gray-400
            focus:ring-2 focus:ring-indigo-200
            focus:outline-2 focus:outline-offset-0 focus:outline-indigo-700
           transition-all duration-200 ease-in-out
    " placeholder="请填写项目名称"/>
        </fieldset>
        <fieldset class="fieldset w-full flex gap-4 mt-2">
            <!-- 项目URL部分 -->
            <div class="flex-1">
                <legend class="fieldset-legend text-base text-gray-600 justify-start">
                    <span class="text-red-500">*</span>
                    <span>项目归属：</span>
                </legend>
                <select class="select w-full
                focus:outline-none
                focus:border-gray-400
                focus:ring-2 focus:ring-indigo-200
                focus:outline-2 focus:outline-offset-0 focus:outline-indigo-700
               transition-all duration-200 ease-in-out">
                    <option disabled selected>请选择项目归属</option>
                    <optgroup label="用户" class="text-gray-600 cursor-pointer">
                        <option value="root">当前用户（管理员）</option>
                        <option value="root">其用户</option>
                    </optgroup>
                    <optgroup label="组" class="text-gray-600">
                        <option value="test">当前用户所在的组-01</option>
                        <option value="test">当前用户所在的组-02</option>
                    </optgroup>
                </select>
            </div>
            <!-- 项目标识串部分 -->
            <div class="flex-1">
                <legend class="fieldset-legend text-base text-gray-600 justify-start">
                    <span class="text-red-500">*</span>
                    <span>项目标识串：</span>
                </legend>
                <input type="text" class="input input-bordered w-full

            focus:outline-none
            focus:border-gray-400
            focus:ring-2 focus:ring-indigo-200
            focus:outline-2 focus:outline-offset-0 focus:outline-indigo-700
           transition-all duration-200 ease-in-out
    " placeholder="请填写项目标识串"/>
            </div>
        </fieldset>
        <fieldset class="fieldset w-full mt-2">
            <legend class="fieldset-legend text-base text-gray-600"><span>项目介绍（可选）：</span></legend>
            <textarea class="textarea w-full h-24
            focus:outline-none
            focus:border-gray-400
            focus:ring-2 focus:ring-indigo-200
            focus:outline-2 focus:outline-offset-0 focus:outline-indigo-700
           transition-all duration-200 ease-in-out
        " placeholder="请填写项目介绍"></textarea>
        </fieldset>
        <fieldset class="fieldset  mt-2">
            <legend class="fieldset-legend text-base text-gray-600">
                <span class="text-red-500">*</span>
                <span>可见级别：</span>
            </legend>
            <div class="space-y-2  inline-block ">
                <label class="flex items-center gap-2 cursor-pointer">
                    <input
                            type="radio"
                            name="radio-1"
                            class="radio radio-xs radio-info cursor-pointer"
                            checked="checked"
                    />
                    <span class="text-sm pointer-events-none inline-flex items-center gap-1">
                        <s2-icon name="projects_private" class="shrink-0 align-middle"></s2-icon>
                        <span class="align-middle">私有</span>
                    </span>
                </label>
                <p class="label pl-8">创建当前用户可访问。</p>
                <label class="flex items-center gap-2 cursor-pointer">
                    <input
                            type="radio"
                            name="radio-1"
                            class="radio radio-xs radio-info cursor-pointer"
                    />
                    <span class="text-sm pointer-events-none inline-flex items-center gap-1">
                        <s2-icon name="projects_internal" class="shrink-0 align-middle"></s2-icon>
                        <span class="align-middle">内部</span>
                    </span>
                </label>
                <p class="label pl-8">只有登录用户可访问。</p>
                <label class="flex items-center gap-2 cursor-pointer">
                    <input
                            type="radio"
                            name="radio-1"
                            class="radio radio-xs radio-info cursor-pointer"

                    />
                    <span class="text-sm pointer-events-none inline-flex items-center gap-1">
                        <s2-icon name="projects_earth" class="shrink-0 align-middle"></s2-icon>
                        <span class="align-middle">公开</span>
                    </span>
                </label>
                <p class="label pl-8">该项目允许任何人访问。</p>
            </div>
        </fieldset>
        <fieldset class="fieldset  mt-2 ">
            <legend class="fieldset-legend text-base text-gray-600">
                <span>初始化：</span>
            </legend>
            <label class="flex items-center gap-2 cursor-pointer">
                <input type="checkbox" class="checkbox checkbox-info checkbox-xs rounded-none"/>
                <span class="text-sm pointer-events-none">使用README文件初始化仓库</span>
            </label>
            <p class="label pl-8">如果有推送计划，跳过该操作。</p>
        </fieldset>
    </div>
    <div class="mt-10 flex justify-between">
        <button class="btn btn-outline btn-success">创建</button>
        <button class="btn btn-outline font-normal
            hover:bg-white
            hover:outline-none
            hover:border-gray-400
            hover:ring-2 hover:ring-indigo-200
            ">
            取消
        </button>
    </div>
</div>

{% endblock main %}
{% block js_end %}
{{ super() }}
{% endblock js_end %}