{% extends 'base.html' %}
{% block title %}
{{ super() }}
新建项目
{% endblock %}
{% block navigation %}
{{ super() }}
<li>新建项目</li>
{% endblock navigation %}
{% block js_start %}
{% endblock js_start %}
{% block main %}
<div class="projects h-full">
    <div class="text-2xl  font-bold">新建项目</div>
    <div class="p-2 w-full max-w-full">
        <fieldset class="fieldset w-full">
            <legend class="fieldset-legend text-base text-gray-600">
                <span class="text-red-500">*</span><span>项目名称：</span>
            </legend>
            <input type="text" class="input input-bordered w-full
            focus:outline-none
            focus:border-gray-400
            focus:ring-2 focus:ring-indigo-200
            focus:outline-2 focus:outline-offset-0 focus:outline-indigo-700
           transition-all duration-200 ease-in-out
    " placeholder="请填写项目名称"/>
        </fieldset>

        <fieldset class="fieldset w-full flex gap-4 mt-4">
            <!-- 项目URL部分 -->
            <div class="flex-1">
                <legend class="fieldset-legend text-base text-gray-600 justify-start">
                    <span class="text-red-500">*</span>
                    <span>项目归属：</span>
                </legend>
                <select class="select w-full

            focus:outline-none
            focus:border-gray-400
            focus:ring-2 focus:ring-indigo-200
            focus:outline-2 focus:outline-offset-0 focus:outline-indigo-700
           transition-all duration-200 ease-in-out
    ">
                    <option disabled selected>请选择项目归属</option>
                    <optgroup label="用户" class="text-gray-600 cursor-pointer">
                        <option value="root">当前用户（管理员）</option>
                        <option value="root">其用户</option>
                    </optgroup>
                    <optgroup label="组" class="text-gray-600">
                        <option value="test">当前用户所在的组-01</option>
                        <option value="test">当前用户所在的组-02</option>
                    </optgroup>
                </select>
            </div>
            <!-- 项目标识串部分 -->
            <div class="flex-1">
                <legend class="fieldset-legend text-base text-gray-600 justify-start">
                    <span class="text-red-500">*</span>
                    <span>项目标识串：</span>
                </legend>
                <input type="text" class="input input-bordered w-full

            focus:outline-none
            focus:border-gray-400
            focus:ring-2 focus:ring-indigo-200
            focus:outline-2 focus:outline-offset-0 focus:outline-indigo-700
           transition-all duration-200 ease-in-out
    " placeholder="请填写项目标识串"/>
            </div>
        </fieldset>
        <fieldset class="fieldset w-full mt-4">
            <legend class="fieldset-legend text-base text-gray-600"><span>项目介绍（可选）：</span></legend>
            <textarea class="textarea w-full h-24
            focus:outline-none
            focus:border-gray-400
            focus:ring-2 focus:ring-indigo-200
            focus:outline-2 focus:outline-offset-0 focus:outline-indigo-700
           transition-all duration-200 ease-in-out
        " placeholder="请填写项目介绍"></textarea>
        </fieldset>
        <fieldset class="fieldset  mt-4">
            <legend class="fieldset-legend text-base text-gray-600">
                <span class="text-red-500">*</span>
                <span>可见级别：</span>
            </legend>
            <div class="space-y-2">
                <label class="flex items-center gap-2 cursor-pointer">
                    <input type="radio" name="radio-1" class="radio radio-xs radio-info " checked="checked"/>
                    <span class="text-sm">私有（创建当前用户可访问。）</span>
                </label>
                <label class="flex items-center gap-2 cursor-pointer">
                    <input type="radio" name="radio-1" class="radio radio-xs radio-info"/>
                    <span class="text-sm">内部（只有登录后用户访问。）</span>
                </label>
                <label class="flex items-center gap-2 cursor-pointer">
                    <input type="radio" name="radio-1" class="radio radio-xs radio-info"/>
                    <span class="text-sm">公开（该项目允许任何人访问。）</span>
                </label>
            </div>
        </fieldset>

    </div>
</div>

{% endblock main %}
{% block js_end %}
{{ super() }}
{% endblock js_end %}