{% extends 'base.html' %}
{% block title %}
{{ super() }}
新建代码片段
{% endblock %}
{% block navigation %}
{{ super() }}
<li>新建代码片段</li>
{% endblock navigation %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/quill/quill.css') }}"/>
{% endblock css %}
{% block main %}
<div class="projects h-full  p-4">
    <div class="text-2xl  font-bold">新建代码片段</div>
    <div class="divider"></div>
    <div class="p-2 w-full max-w-full">
        <fieldset class="fieldset w-full">
            <legend class="fieldset-legend text-base text-gray-600">
                <span class="text-red-500">*</span><span>标题：</span>
            </legend>
            <input type="text" class="input input-bordered w-full
            focus:outline-none
            focus:border-gray-200
            focus:ring-2
            focus:ring-indigo-200
            focus:outline-2
            focus:outline-offset-0
            focus:outline-indigo-700
           transition-all duration-200 ease-in-out
    " placeholder="请填写代码片段名称"/>
        </fieldset>
        <fieldset class="fieldset w-full mt-2">
            <legend class="fieldset-legend text-base text-gray-600">
                <span>描述（可选）：</span>
            </legend>
            <!--编辑器骨架-->
            <div class="flex flex-col gap-2 w-full" id="editor-skeleton">
                <div class="skeleton h-6 w-full"></div>
                <div class="skeleton h-54 w-full"></div>
            </div>
            <!--编辑器-->
            <div id="editor" class="hidden bg-white transition-all duration-500 ease-in-out">
            </div>
        </fieldset>
        <fieldset class="fieldset mt-2">
            <legend class="fieldset-legend text-base text-gray-600">
                <span class="text-red-500">*</span>
                <span>可见级别：</span>
            </legend>
            <div class="space-y-2  inline-block ">
                <label class="flex items-center gap-2 cursor-pointer">
                    <input type="radio" name="radio-1" class="radio radio-xs radio-info cursor-pointer"
                           checked="checked"/>
                    <span class="text-sm pointer-events-none inline-flex items-center gap-1">
                        <s2-icon name="projects_private" class="shrink-0 align-middle"></s2-icon>
                        <span class="align-middle">私有</span>
                    </span>
                </label>
                <p class="label pl-8">创建当前用户可访问。</p>
                <label class="flex items-center gap-2 cursor-pointer">
                    <input type="radio" name="radio-1" class="radio radio-xs radio-info cursor-pointer"/>
                    <span class="text-sm pointer-events-none inline-flex items-center gap-1">
                        <s2-icon name="projects_internal" class="shrink-0 align-middle"></s2-icon>
                        <span class="align-middle">内部</span>
                    </span>
                </label>
                <p class="label pl-8">只有登录用户可访问。</p>
                <label class="flex items-center gap-2 cursor-pointer">
                    <input type="radio" name="radio-1" class="radio radio-xs radio-info cursor-pointer"/>
                    <span class="text-sm pointer-events-none inline-flex items-center gap-1">
                        <s2-icon name="projects_earth" class="shrink-0 align-middle"></s2-icon>
                        <span class="align-middle">公开</span>
                    </span>
                </label>
                <p class="label pl-8">该项目允许任何人访问。</p>
            </div>
        </fieldset>
        <fieldset class="fieldset mt-2">
            <legend class="fieldset-legend text-base text-gray-600">
                <span class="text-red-500">*</span>
                <span>文件：</span>
            </legend>
            <!-- 根据文件输入的后缀判断，采用什么样的高亮 -->
            <input type="text" class="input input-bordered w-full
            focus:outline-none
            focus:border-gray-200
            focus:ring-2
            focus:ring-indigo-200
            focus:outline-2
            focus:outline-offset-0
            focus:outline-indigo-700
           transition-all duration-200 ease-in-out" id="code-file-name"
                   placeholder="可以选择命名此文件以添加代码突出显示，例如：Python的main.py。"/>
            <!-- 代码编辑框-骨架  -->
            <div class="flex flex-col gap-2 w-full" id="code-editor-skeleton">
                <div class="skeleton h-54 w-full"></div>
            </div>
            <!-- 代码编辑框 -->
            <textarea id="code-editor" class="max-[200px] hidden"></textarea>
        </fieldset>
    </div>
    <div class="divider"></div>
    <div class="flex justify-between">
        <button class="btn
        btn-outline
        font-normal
         hover:bg-white
         hover:outline-none
         hover:border-gray-400
         hover:ring-2 hover:ring-green-300
        ">创建
        </button>
        <button class=" btn btn-outline font-normal
            hover:bg-white
            hover:outline-none
            hover:border-gray-400
            hover:ring-2 hover:ring-indigo-200
            ">
            取消（当前用户的项目页面）
        </button>
    </div>

</div>
{% endblock main %}
{% block js_end %}
{{ super() }}
<script src="{{ url_for('static', filename='lib/quill/quill.js') }}"></script>
<script src="{{ url_for('new_page.static', filename='n_snippets/snippets.js') }}"></script>

{% endblock js_end %}