{% extends 'base.html' %}

{% block title %}
404 资源不存在
{% endblock title %}
{% block main_navigation_bar %}
<span><a href="javascript:void(0);">错误页面</a></span>
<span>/</span>
<span><a href="javascript:void(0);">404资源不存在</a></span>
{% endblock main_navigation_bar %}
{% block main_content %}
<s-empty style="height: 100%">
    <s-alert type="error">资源不存，点击这里：<a href="/dashboard/workbenches?tab=overview" style="text-decoration: none;color: #93000A">返回首页</a>。</s-alert>
</s-empty>

{% endblock main_content %}