{% extends 'base.html' %}

{% block title %}
    合并请求
{% endblock %}
<!-- 导入css样式表 -->
{% block css %}
{% endblock css %}
<!-- 导入js-start -->
{% block js_start %}
{% endblock js_start %}
<!--导航条-->
{% block main_navigation_bar %}
<span><a href="#">菜单</a></span>
<span>/</span>
<span><a href="#">合并请求</a></span>
{% endblock main_navigation_bar %}
<!--主体内容-->
{% block main_content %}
{% endblock main_content %}
<!-- 导入js-end -->
{% block js_end %}
<script>
    const MenuID = localStorage.getItem("selectionMenu")
    MenuItemSelection(MenuID)
</script>
{% endblock js_end %}