{% extends 'base.html' %}
{% block title %}
工作台
{% endblock %}
{% block main_navigation_bar %}
<span><a href="#">菜单</a></span>
<span>/</span>
<span><a href="#">工作台</a></span>
{% endblock main_navigation_bar %}
<!--主体内容-->
{% block main_content %}
<div class="head-tab-content">
    <s-tab mode="fixed">
        <s-tab-item selected="true">
            <div slot="text">概览</div>
            <!--代码上传的日期和上传的动态记录-->
        </s-tab-item>
        <s-tab-item>
            <div slot="text">仓库</div>
        </s-tab-item>
        <s-tab-item>
            <div slot="text">统计分析</div>
            <!--（展示更详细的活跃度、代码量、周/月报等。） -->
        </s-tab-item>
        <s-tab-item>
            <div slot="text">代码片段</div>
            <!--存放个人常用代码片段、开发备忘-->
        </s-tab-item>
    </s-tab>
</div>
<div class="actual-display-content" style="width: 80%;margin: 0 auto">
    <div class="main-contribute">
        <div class="contribute-head"
             style="margin-top:2em;display: flex;justify-content: space-between;align-items: center;">
            <h3 class="fonts-color-major">贡献度</h3>
            <div>
                <s-picker label="日期">
                    <s-picker-item value="gui yang" selectd="select">2025</s-picker-item>
                    <s-picker-item value="bei jing">2024</s-picker-item>
                    <s-picker-item value="shang hai">2023</s-picker-item>
                    <s-picker-item value="shen zhen">2022</s-picker-item>
                    <s-picker-item value="cheng du">2021</s-picker-item>
                    <s-picker-item value="wu han">2020</s-picker-item>
                </s-picker>
            </div>
        </div>
        <div class="contribute-content">
            <div class="calendar-wrap">
                <div class="weekdays fonts-color-minor" id="weekdays"></div>
                <div class="calendar">
                    <div class="months" id="months"></div>

                    <div class="weeks" id="calendar">
                    </div>
                </div>
            </div>
            <div class="legend fonts-color-routine">
                <span>少</span>
                <span class="legend-box level-0"></span>
                <span class="legend-box level-1"></span>
                <span class="legend-box level-2"></span>
                <span class="legend-box level-3"></span>
                <span class="legend-box level-4"></span>
                <span>多</span>
            </div>
            <div class="describe">
                <p class="fonts-color-minor" style="display: inline-block;margin-right: 20px;font-size: 12px;">
                    最近一年贡献：49 次</p>
                <p class="fonts-color-minor" style="display: inline-block;margin-right: 20px;font-size: 12px;">最长连续贡献：5
                    日</p>
                <p class="fonts-color-minor" style="display: inline-block;margin-right: 20px;font-size: 12px;">最近连续贡献：5
                    日</p>
                <p style="margin: 0;font-size: 12px;" class="fonts-color-routine">
                    贡献度的统计数据包括代码提交、创建任务 / Pull Request、合并 Pull Request，其中代码提交的次数需本地配置的 git 邮箱帐号已确认绑定的才会被统计。
                </p>
            </div>
        </div>
    </div>
    <div class="main-dynamics">
        <div class="dynamics-head">
            <h3 class="fonts-color-major">动态</h3>
        </div>
        <div class="dynamics-content">
        </div>
    </div>
</div>
{% endblock main_content %}

