{% extends 'bases.html' %}
{% block title %}
{{ super() }}
工作台
{% endblock %}
{% block main_navigation_bar %}
{{ super() }}
<li>概览</li>
{% endblock main_navigation_bar %}
<!--主体内容-->
{% block main_content %}
<div class="content flex h-screen">
    <div class="w-1/3">
        <!--个人头像显示-->
        <div class="avatar avatar-placeholder w-full">
            <div class="w-42  ring-2 ring-offset-2 rounded-full ring-gray-200  my-3 m-auto ">
                <img src="https://img.daisyui.com/images/profile/demo/spiderperson@192.webp"/>
            </div>
        </div>
        <!--        <div class="avatar  avatar-placeholder w-full">-->
        <!--            <div class="bg-neutral text-neutral-content w-42 rounded-full mt-3 m-auto ring-gray-200 ring-2 ring-offset-2">-->
        <!--                <span class="text-7xl">U</span>-->
        <!--            </div>-->
        <!--        </div>-->
        <!-- 显示用户名称-->
        <div class="text-center font-bold antialiased text-2xl my-2">
            不会换牙的鲨鱼
        </div>
        <!--显示账户名称-->
        <div class="text-center font-thin antialiased text-sm my-1">
            <span>@</span><span>wangkx0227</span>
        </div>
        <!--如果有简介就显示简介，如果没有就显示五个人简介-->
        <div class="text-center font-thin antialiased text-sm  my-2 text-base-content/50">
            无个人简介
        </div>
        <!--标签最多5个-->
        <div class="text-center font-thin antialiased my-2 text-content">
            <kbd class="kbd  border-1 border-solid ">python</kbd>
            <kbd class="kbd  border-1 border-solid ">C</kbd>
            <kbd class="kbd  border-1 border-solid ">Java</kbd>
            <kbd class="kbd  border-1 border-solid ">Go</kbd>
            <kbd class="kbd  border-1 border-solid ">HTML</kbd>
        </div>
        <div class=" w-full my-4 flex justify-center">
            <button class="btn btn-outline  w-32">
                <s2-icon name="workbenches_user_setting"></s2-icon>
                个人设置
            </button>
        </div>

    </div>
    <!-- tab切换 -->
    <div class="w-2/3">
        <div class="tabs tabs-border">
            <label class="tab">
                <input type="radio" name="my_tabs_4" checked="checked"/>
                <s2-icon name="workbenches_overview"></s2-icon>
                概览
            </label>
            <div class="tab-content bg-base-100 py-6">
                1231321
            </div>
            <label class="tab">
                <input type="radio" name="my_tabs_4"/>
                <s2-icon name="workbenches_repository"></s2-icon>
                仓库
            </label>
            <div class="tab-content bg-base-100 py-6">Tab content 2</div>

            <label class="tab">
                <input type="radio" name="my_tabs_4"/>
                <s2-icon name="workbenches_analysis"></s2-icon>
                统计分析
            </label>
            <div class="tab-content bg-base-100 py-6">Tab content 3</div>

            <label class="tab">
                <input type="radio" name="my_tabs_4"/>
                <s2-icon name="workbenches_snippet"></s2-icon>
                代码片段
            </label>
            <div class="tab-content bg-base-100 py-6">Tab content 3</div>
        </div>
    </div>


    <!--    <div>-->
    <!--        {% block workbenches_content %}-->

    <!--        {% endblock workbenches_content %}-->
    <!--    </div>-->
</div>

{% endblock main_content %}


