<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Repository: {{ repo }}</h2>
<ul>
  {% for item in items %}
    {% if item.type == 'tree' %}
      <li>
        📁 <a href="{{ url_for('browse_tree', repo_name=repo, tree_path=item.path) }}">{{ item.name }}/</a>
      </li>
    {% else %}
      <li>
        📄 <a href="{{ url_for('view_file', repo_name=repo, file_path=item.path) }}">{{ item.name }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
</body>
</html>