{% extends 'u_home.html' %}
<!-- {{ super() }} 继承父类的内容不重写,而是增加 -->
{% block navigation %}
{{ super() }}
<li>概览</li>
{% endblock navigation %}
{% block css %}
<link rel="stylesheet"
      href="{{ url_for('user_page.static', filename='u_home/overview/overview.css') }}">
<style>
    .tooltip {
        --tooltip-text-size: 0.6rem;
    }

    .tooltip::before {
        font-size: var(--tooltip-text-size) !important;
    }

    .week-column {
        width: calc(100% / 54);
        display: grid;
        grid-template-rows: repeat(7, minmax(0, 1fr));
        gap: 0.25rem; /* 等价 tailwind gap-1 */
    }

    .day-box {
        aspect-ratio: 1 / 1;
        width: 100%;
        border-radius: 0.125rem; /* rounded-sm */
        box-sizing: border-box;
        cursor: pointer;
    }
</style>
{% endblock css %}
{% block js_start %}

{% endblock js_start %}
{% block overview %}
<!--日历数据-->
<div id="contribute_data_dict" data-info='{{ data.contribute_data_dict|tojson }}' hidden></div>
<div class="p-2 h-full">
    <div class="contribute max-w-full">
        <!-- 标题与日期选择框 -->
        <div class="flex justify-between items-center">
            <div class="flex-1 text-2xl  font-bold">贡献度</div>
            <div class=" w-fit">
                <select class="select cursor-pointer         focus:outline-none
        focus:border-gray-400
        focus:ring-2 focus:ring-indigo-200
        focus:outline-2 focus:outline-offset-0 focus:outline-indigo-700
       transition-all duration-200 ease-in-out" id="contributeYearSelect">
                    <option disabled selected value="">日期</option>
                    {# 日期需要从后端进行获取#}
                    <option value="2025">2025</option>
                    <option value="2024">2024</option>
                    <option value="2023">2023</option>
                </select>
            </div>
        </div>
        <!--贡献图（有问题）-->
        <div class="contribute-picture flex flex-col gap-4  my-2 outline outline-gray-200  overflow-x-auto whitespace-nowrap p-2 rounded-sm min-h-48">
            <div class="flex text-xs text-left text-base-content/50 gap-16 mx-auto" id="months"></div>
            <div class="flex mx-auto">
                <div class="flex-none flex flex-col justify-between text-base-content/75 text-xs mr-2" id="week">
                    <span>周一</span>
                    <span>周四</span>
                    <span>周日</span>
                </div>
                <div class="flex-1 min-w-0 flex gap-1" id="calendar"></div>
            </div>
            <div class="grid grid-flow-col justify-items-end ">
                <div class="grid grid-cols-7 gap-1 text-base-content/75 text-xs">
                    <span>少</span>
                    <span class="size-4 rounded-sm inline-block level-0"></span>
                    <span class="size-4 rounded-sm inline-block level-1"></span>
                    <span class="size-4 rounded-sm inline-block level-2"></span>
                    <span class="size-4 rounded-sm inline-block level-3"></span>
                    <span class="size-4 rounded-sm inline-block level-4"></span>
                    <span>多</span>
                </div>
            </div>
        </div>
        <!--说明-->
        <div class="describe text-base text-black-content/30">
            <div class=" flex text-xs gap-4 text-base-content/80">
                <p>最近一年贡献：150次</p>
                <p>最近长连续贡献：20日</p>
                <p>最近连续贡献：10日</p>
            </div>
            <p class="text-xs mt-2 text-base-content/50">贡献度的统计数据包括代码提交、创建任务 / Pull Request、合并 Pull
                Request，其中代码提交的次数需本地配置的 Git 邮箱帐号已确认绑定的才会被统计。</p>
        </div>
    </div>
    <!--    <div class="dynamics mt-2 min-h-90 max-w-full space-y-2">-->
    <div class="dynamics mt-2 min-h-90 max-w-full space-y-2 relative">
        <div class="flex justify-between items-center mb-2">
            <div class="flex-1 text-2xl antialiased font-bold">动态</div>
        </div>
        <!--        <div class="absolute inset-0 flex items-center justify-center pointer-events-none">-->
        <!--            <div class="bg-white p-2 rounded pointer-events-auto text-sm text-base-content/70">暂时没有数据</div>-->
        <!--        </div>-->
        <div class="mt-3 border-l-1 border-gray-300">
            <div class="grid gap-5 pl-4 ">
                <div class="inline">
                    <div class="text-base text-black-content/85 font-semibold mb-3">2025-06-30</div>
                    <ul class="pl-5 grid grid-rows-2 gap-2">
                        <li class="text-sm text-base-content/70 flex">
                            <div class="grid grid-rows-2 gap-2 flex-1">
                                <div class="flex gap-2 items-center items-center">
                                    <!--git操作,根据后端分析获取-->
                                    <span>推送了</span>
                                    <!--git操作,推送仓库地址-->
                                    <a class="
                                        link
                                        hover:underline
                                        text-slate-800
                                        hover:text-slate-500
                                        no-underline
                                        transition-colors"
                                       href="/wangkx0227/MiniRepo/tree/master">不会换牙的鲨鱼/MiniRepo</a>
                                    <!--git操作,推送分支-->
                                    <span>的master分支</span>
                                </div>
                                <div class="flex gap-2 items-center">
                                    <!--提交git的用户头像,如果没有头像就使用默认的-->
                                    <div class="avatar">
                                        <div class="w-6 rounded-full">
                                            <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp"/>
                                        </div>
                                    </div>
                                    <!--git执行的版本-->
                                    <div>
                                        <a class="link  hover:underline text-slate-800 hover:text-slate-500 no-underline transition-colors duration-200"
                                           href="/wangkx0227/MiniRepo/commit/d960e14bc58e5679bf4d5cb076eb321c8c8932a8">d960e14</a>
                                        <!--git执行commit信息的从后端来-->
                                        <span>更新了css样式</span>
                                    </div>
                                </div>
                            </div>
                            <div>0个月前</div>
                        </li>
                        <li class="text-sm text-base-content/70 flex">
                            <div class="grid grid-rows-2 gap-2 flex-1">
                                <div class="flex gap-2 items-center items-center">
                                    <!--git操作,根据后端分析获取-->
                                    <span>推送了</span>
                                    <!--git操作,推送仓库地址-->
                                    <a class="hover:underline link text-slate-800 hover:text-slate-500 no-underline transition-colors duration-200"
                                       href="/wangkx0227/MiniRepo/tree/master">不会换牙的鲨鱼/MiniRepo</a>
                                    <!--git操作,推送分支-->
                                    <span>的master分支</span>
                                </div>
                                <div class="flex gap-2 items-center">
                                    <!--提交git的用户头像,如果没有头像就使用默认的-->
                                    <div class="avatar">
                                        <div class="w-6 rounded-full">
                                            <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp"/>
                                        </div>
                                    </div>
                                    <!--git执行的版本-->
                                    <div>
                                        <a class="hover:underline link text-slate-800 hover:text-slate-500 no-underline transition-colors duration-200"
                                           href="/wangkx0227/MiniRepo/commit/d960e14bc58e5679bf4d5cb076eb321c8c8932a8">d960e14</a>
                                        <!--git执行commit信息的从后端来-->
                                        <span>更新了css样式</span>
                                    </div>
                                </div>
                            </div>
                            <div>0个月前</div>
                        </li>
                        <li class="hidden text-sm text-base-content/70 flex">
                            <div class="grid grid-rows-2 gap-2 flex-1">
                                <div class="flex gap-2 items-center items-center">
                                    <!--git操作,根据后端分析获取-->
                                    <span>推送了</span>
                                    <!--git操作,推送仓库地址-->
                                    <a class=" hover:underline link text-slate-800 hover:text-slate-500 no-underline transition-colors duration-200"
                                       href="/wangkx0227/MiniRepo/tree/master">不会换牙的鲨鱼/MiniRepo</a>
                                    <!--git操作,推送分支-->
                                    <span>的master分支</span>
                                </div>
                                <div class="flex gap-2 items-center">
                                    <!--提交git的用户头像,如果没有头像就使用默认的-->
                                    <div class="avatar">
                                        <div class="w-6 rounded-full">
                                            <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp"/>
                                        </div>
                                    </div>
                                    <!--git执行的版本-->
                                    <div>
                                        <a class="hover:underline link text-slate-800 hover:text-slate-500 no-underline transition-colors duration-200"
                                           href="/wangkx0227/MiniRepo/commit/d960e14bc58e5679bf4d5cb076eb321c8c8932a8">d960e14</a>
                                        <!--git执行commit信息的从后端来-->
                                        <span>更新了css样式</span>
                                    </div>
                                </div>
                            </div>
                            <div>0个月前</div>
                        </li>
                        <li class="flex items-center">
                            <span class="text-base-content/50 text-xs">已隐藏 1 条推送信息，</span>
                            <button class="btn btn-link toggle-btn show link btn-xs text-slate-800 hover:text-slate-500 font-normal no-underline transition-colors duration-200">
                                展开查看
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mt-15 flex justify-center">
            <button class="btn btn-outline font-normal
            hover:bg-white
            hover:outline-none
            hover:border-gray-400
            hover:ring-2 hover:ring-indigo-200
            " id="TimeLineLoadMore">
                加载更多
            </button>
        </div>
    </div>
</div>
{% endblock overview %}
{% block js_end %}
{{ super() }}
<script src="{{ url_for('user_page.static', filename='u_home/overview/overview.js') }}"></script>
{% endblock js_end %}