/*手机端自适应-有点小问题*/
/*@media (max-width: 768px) {*/
/*    .main-interface-notification {*/
/*        width: 300px;*/
/*        margin-left: 115px;*/
/*    }*/
/*    .notification-content-circular-progress{*/
/*        left: 75% !important;*/
/*    }*/
/*}*/

.main-interface-notification {
    min-height: 180px;
    width: 340px;
    background-color: #FFFFFF;
}


/* 通知按钮弹窗的圆形记载状态样式-居中显示 */
.notification-content-circular-progress {
    width: 30px;
    color: #29d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
