.day {
    width: 1vw;
    height: 2vh;
    margin: 2px;
    border-radius: 3px;
    background: #ebedf0;
    box-sizing: border-box;
    transition: background 0.2s;
    cursor: pointer;
}

.day:hover {
    transform: scale(1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

/*星期显示标签样式*/
.weekdays {
    width: 30px;
    font-size: 10px;
    margin-top: 17px;
    align-items: center;
    flex-direction: column;
    display: inline-flex;
    justify-content: space-between;
    gap: 55px;
}

/*颜色等级 0-4 从浅到深*/
.level-0 {
    background: #ebedf0
}

.level-1 {
    background: #c6e48b;
}

.level-2 {
    background: #7bc96f;
}

.level-3 {
    background: #239a3b;
}

.level-4 {
    background: #196127;
}

.dynamics-content {
    min-height: 300px;
}

.event-line {
    position: relative;
    border-left: 1px solid #e3e9ed;
}

.time-line-group {
    padding-left: 15px;
    margin-bottom: 30px;
}

.time-line-items {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.time-line-item {
    gap: 5px;
    display: flex;
    font-size: 14px;
    align-items: center;
    margin-bottom: 18px;
    flex-direction: row;
}

.time-line-item s-avatar {
    height: 20px;
    width: 20px
}

.time-line-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.time-line-group a {
    text-decoration: none; /* 默认无下划线 */
    color: #005980;
}

.time-line-meta {
    font-size: 14px;
    margin-left: 10px;
    flex-shrink: 0;
}

.time-line-item-hide {
    display: none;
}