<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        MiniRepo -
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="/static/base/base.css">

    <script src="/static/base/nprogress/nprogress.js"></script>
    <link rel="stylesheet" href="/static/base/nprogress/nprogress.css"/>
    <script src="/static/base/sober/sober.min.js"></script>
    <!-- 菜单栏的icon图标 -->
    <script src="/static/base/menu/menu-icon.js"></script>
    <!-- 导入css样式表 -->
    {% block css %}
    {% endblock css %}
    <!-- 导入js-start -->
    {% block js_start %}
    {% endblock js_start %}
</head>

<body>
<s-page class="content">
    <s-drawer id="drawer">
        <div slot="start">
            <s-menu style="max-width: 280px; margin: 0;">
                <div slot="label">控制台</div>
                <s-menu-item>
                    <s-icon slot="start" name="home"></s-icon>
                    选项1
                </s-menu-item>
                <s-menu-item>
                    <s-icon slot="start" name="search"></s-icon>
                    选项2
                    <s-icon slot="end" name="add"></s-icon>
                </s-menu-item>
                <s-menu-item>
                    <s-icon slot="start" name="light_mode"></s-icon>
                    选项3
                </s-menu-item>
                <s-menu-item>
                    <s-icon slot="start" name="favorite"></s-icon>
                    选项4
                    <s-menu slot="menu">
                        <s-menu-item> 选项1</s-menu-item>
                        <s-menu-item> 选项2</s-menu-item>
                    </s-menu>
                </s-menu-item>
                <s-menu-item>
                    <s-icon slot="start" name="add"></s-icon>
                    选项5
                </s-menu-item>
            </s-menu>
            <s-menu style="max-width: 280px; margin: 0;">
                <div slot="label">其他</div>
                <s-menu-item> 选项6</s-menu-item>
                <s-menu-item> 选项7</s-menu-item>
            </s-menu>
        </div>
        <s-appbar style="width: 100%;">
            <!--左侧菜单按钮-->
            <s-tooltip align="bottom" slot="navigation">
                <s-icon-button slot="trigger" id="DrawerTriggerBut">
                    <s2-icon name="interface_menu"></s2-icon>
                </s-icon-button>
                <span id="interface_menu_tip">隐藏侧边栏</span>
            </s-tooltip>
            <!--标题-->
            <div slot="headline">
                <span class="title" id="HeadIndex">MiniRepo</span>
            </div>

            <!-- 搜索 -->
            <div slot="action">
                <s-search id="SearchInput" placeholder="搜索关键字" value="">
                    <s-icon name="search" slot="start"></s-icon>
                    <s-icon-button slot="end" id="clearBtn">
                        <s-icon name="close"></s-icon>
                    </s-icon-button>
                </s-search>
            </div>
            <!-- 通知 -->
            <div slot="action">
                <s-tooltip align="bottom">
                    <s-icon-button slot="trigger">
                        <s2-icon name="interface_notification"></s-2icon>
                    </s-icon-button>
                    通知
                </s-tooltip>
            </div>
            <!-- 按钮 -->
            <div slot="action">
                <s-tooltip align="bottom">
                    <s-icon-button slot="trigger">
                        <s2-icon name="interface_add"></s2-icon>
                    </s-icon-button>
                    添加
                </s-tooltip>
            </div>

            <!-- 用户菜单 -->
            <div slot="action">
                <s-popup-menu>
                    <div class="popup-menu-item-button" slot="trigger">
                        <s-tooltip align="bottom">
                            <s-icon-button slot="trigger">
                                <s-avatar slot="start" style="color: #FFFFFF;">US</s-avatar>
                            </s-icon-button>
                            用户
                        </s-tooltip>
                    </div>
                    <div class="popup-menu-item">
                        <s-popup-menu-item id="menuUTodos">
                            <s-icon slot="start">
                                <!-- s2-icon 自建标签，用来显示图标 -->
                                <s2-icon name="export"></s-2icon>
                            </s-icon>
                            <span>待办</span>
                        </s-popup-menu-item>
                        <s-popup-menu-item id="menuURelated">
                            <s-icon slot="start">
                                <s2-icon name="notification"></s-2icon>
                            </s-icon>
                            <span>与我相关</span>
                        </s-popup-menu-item>
                        <s-divider></s-divider>
                        <s-popup-menu-item id="menuUSetting">
                            <s-icon slot="start">
                                <s2-icon name="setting"></s-2icon>
                            </s-icon>
                            <span>个人设置</span>
                        </s-popup-menu-item>
                        <s-divider></s-divider>
                        <s-popup-menu-item id="menuUStars">
                            <s-icon slot="start">
                                <s2-icon name="favorite"></s-2icon>
                            </s-icon>
                            <span>我的关注</span>
                        </s-popup-menu-item>
                        <s-popup-menu-item id="menuUHome">
                            <s-icon slot="start">
                                <s2-icon name="home"></s-2icon>
                            </s-icon>
                            <span>我的主页</span>
                        </s-popup-menu-item>
                        <s-popup-menu-item id="menuURepos">
                            <s-icon slot="start">
                                <s2-icon name="code"></s-2icon>
                            </s-icon>
                            <span>我的仓库</span>
                        </s-popup-menu-item>
                        <s-divider></s-divider>
                        <s-popup-menu-item>
                            <s-icon slot="start">
                                <s2-icon name="signout"></s-2icon>
                            </s-icon>
                            <span>退出登录</span>
                        </s-popup-menu-item>
                    </div>
                </s-popup-menu>
            </div>
        </s-appbar>
        <s-scroll-view style="height: 320px; background: var(--s-color-surface-container-low)">
            <div class="view-content" style="height: 1080px;background-color: #FFFFFF;">
                <div class="navigation-bar">
                    <span>当前位置：</span>
                    <span class="breadcrumb"><a href="/">首页</a></span>
                    {% block view_navigation_bar %}

                    {% endblock view_navigation_bar %}
                </div>
                {% block view_content %}
                {% endblock view_content %}
            </div>
        </s-scroll-view>
    </s-drawer>
</s-page>

</body>
<script src="/static/base/base.js"></script>
<script src="/static/base/menu/menu-user.js"></script>

{% block js_end %}
{% endblock js_end %}
<script type="module">
    // ajax使用
    // const stopProgress = NProgressLongin(); // 开始加载条
    // // 异步操作完成后调用：
    // setTimeout(() => {
    //     stopProgress(); // 结束加载条
    // }, 2000);

    // 页面开始使用
    // 页面开始加载时调用 start()，放在 head 的 script 里或内联脚本里
    NProgress.start();

    // DOM内容加载完成后关闭加载条
    window.addEventListener('DOMContentLoaded', () => {
        NProgress.done();
    });


    // 公共方法导入
    // 导入js文件
    {#import {API_BASE_URL, add} from '/static/public/variable.js';#}
    {##}
    {#console.log(API_BASE_URL)#}
    {#console.log(add(3, 4));#}
    {#// 导入js文件#}
    {#fetch('/static/public/config.json')#}
    {#    .then(res => {#}
    {#        if (!res.ok) throw new Error('加载失败');#}
    {#        return res.json();#}
    {#    })#}
    {#    .then(data => {#}
    {#        console.log('JSON 数据:', data);#}
    {#    })#}
    {#    .catch(err => {#}
    {#        console.error('读取 JSON 失败:', err);#}
    {#    });#}
</script>

</html>