{% extends 'base.html' %}

{% block title %}
账户设置
{% endblock %}
<!-- 导入css样式表 -->
{% block css %}
{% endblock css %}
<!-- 导入js-start -->
{% block js_start %}
{% endblock js_start %}
<!--导航条-->
{% block main_navigation_bar %}
<span><a href="javascript:void(0);">其他</a></span>
<span>/</span>
<span><a href="javascript:void(0);">设置</a></span>
<span>/</span>
<span><a href="javascript:void(0);">账户设置</a></span>
{% endblock main_navigation_bar %}
<!--主体内容-->
{% block main_content %}
{% endblock main_content %}
<!-- 导入js-end -->
{% block js_end %}
<script>
</script>
{% endblock js_end %}