{% extends 'dashboard/workbenches.html' %}
<!-- {{ super() }} 继承父类的内容不重写,而是增加 -->
{% block main_navigation_bar %}
{{ super() }}
<span>/</span>
<span><a href="javascript:void(0);">概览</a></span>
{% endblock main_navigation_bar %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('dashboard_page.static', filename='workbenches/overview/overview.css') }}">
{% endblock css %}
{% block workbenches_content %}

<div class="main-contribute">
    <div class="contribute-head"
         style="margin-top:2em;display: flex;justify-content: space-between;align-items: center;">
        <h3 class="fonts-color-major">贡献度</h3>
        <div>
            <s-picker label="日期" id="contributeYearSelect">
                <s-picker-item value="2025" selected="true">2025</s-picker-item>
                <s-picker-item value="2024">2024</s-picker-item>
                <s-picker-item value="2023">2023</s-picker-item>
                <s-picker-item value="2022">2022</s-picker-item>
                <s-picker-item value="2021">2021</s-picker-item>
                <s-picker-item value="2020">2020</s-picker-item>
            </s-picker>
        </div>
    </div>
    <div class="contribute-content">
        <!--显示jinja2模板传递的数据-->
        <div id="contribute_data_dict" data-info='{{ data.contribute_data_dict|tojson }}' hidden></div>
        <div class="calendar-wrap">
            <div class="weekdays fonts-color-minor" id="weekdays">
                <span>周一</span>
                <span>周四</span>
                <span>周日</span>
            </div>
            <div class="calendar">
                <div class="months" id="months"></div>
                <div class="weeks" id="calendar">
                </div>
            </div>
        </div>
        <div class="legend fonts-color-routine">
            <span>少</span>
            <span class="legend-box level-0"></span>
            <span class="legend-box level-1"></span>
            <span class="legend-box level-2"></span>
            <span class="legend-box level-3"></span>
            <span class="legend-box level-4"></span>
            <span>多</span>
        </div>
        <div class="describe">
            <p class="fonts-color-minor" style="display: inline-block;margin-right: 20px;font-size: 12px;">
                最近一年贡献：{{ data.contribute_total }} 次</p>
            <p class="fonts-color-minor" style="display: inline-block;margin-right: 20px;font-size: 12px;">最长连续贡献：{{
                data.contribute_continuous_longest_day }}
                日</p>
            <p class="fonts-color-minor" style="display: inline-block;margin-right: 20px;font-size: 12px;">最近连续贡献：{{
                data.contribute_continuous_day }}
                日</p>
            <p style="margin: 0;font-size: 12px;" class="fonts-color-routine">
                贡献度的统计数据包括代码提交、创建任务 / Pull Request、合并 Pull Request，其中代码提交的次数需本地配置的 Git 邮箱帐号已确认绑定的才会被统计。
            </p>
        </div>
    </div>
</div>
<div class="main-dynamics">
    <div class="dynamics-head">
        <h3 class="fonts-color-major">动态</h3>
    </div>
    <div class="dynamics-content">
        {% if data %}
        <div class="event-line">
            {% for event in data.event_data_list %}
            <div class="time-line-group">
                <div class="fonts-color-major">{{ event.date }}</div>
                <ul class="time-line-items fonts-color-major">
                    {% for commit in event.save_commit_list %}
                    <li class="time-line-item {% if loop.index > 2%} time-line-item-hide {% endif %}">
                        <!--更新上传信息-->
                        <div class="time-line-content fonts-color-routine">
                            <div>
                                <span>{{ commit.action_human_name }}</span>
                                <a href="{{ commit.project_tree_path }}">{{ commit.name_with_namespace }}</a>
                                <span>的 {{ commit.branch_name}} 分支</span>
                            </div>
                            <div>
                                <s-avatar src="{{ commit.profile_photo_link }}"></s-avatar><!--头像-->
                                <span><a href="{{ commit.project_commit_path }}">{{ commit.commit_from }}</a></span>
                                <span>{{ commit.message }}</span>
                            </div>
                        </div>
                        <div class="time-line-meta fonts-color-minor">{{ commit.create_at_date | do_date_differ}}</div>
                    </li>
                    {% endfor %}
                    <!--展示按钮-->
                    <li style=" font-size: 14px;margin-top: 5px" class="fonts-color-minor">
                        <span>已隐藏 {{ event.hide_number }} 条推送信息，</span>
                        <a href="javascript:void(0);" class="fonts-color-routine toggle-btn show">展开查看</a>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
        <div style="height: 80px">
            <s-button style="display: flex;border-radius: 0;" type="outlined" id="TimeLineLoadMore">
                加载更多
            </s-button>
        </div>
        {% else %}
        <s-empty style="min-height: 300px">暂时没有数据</s-empty>
        {% endif %}
    </div>
</div>
{% endblock workbenches_content %}
{% block js_end %}
{{ super() }}
<script src="{{ url_for('dashboard_page.static', filename='workbenches/overview/overview.js') }}"></script>
<script>

</script>
{% endblock js_end %}