{% extends 'dashboard/workbenches.html' %}
<!-- {{ super() }} 继承父类的内容不重写,而是增加 -->
{% block main_navigation_bar %}
{{ super() }}
<span>/</span>
<span><a href="#">概览</a></span>
{% endblock main_navigation_bar %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('dashboard.static', filename='workbenches/overview/overview.css') }}">
{% endblock css %}

{% block js_end %}
<script src="{{ url_for('dashboard.static', filename='workbenches/overview/overview.js') }}"></script>
{% endblock js_end %}