{% extends 'dashboard/workbenches_new.html' %}
<!-- {{ super() }} 继承父类的内容不重写,而是增加 -->
{% block navigation %}
{{ super() }}
<li>仓库</li>
{% endblock navigation %}
{% block css %}

{% endblock css %}
{% block js_start %}

{% endblock js_start %}
{% block repository %}
<div class="p-2 h-full">
    <div class="flex justify-between items-center">
        <!--筛选框-->
        <div class="flex-1 w-fit">
            <select class="select cursor-pointer w-32" id="contributeYearSelect">
                <option disabled selected value="">展示类型</option>
                <option value="all">全部</option>
                <option value="personal">我自己的</option>
                <option value="joined">我参与的</option>
                <option value="forked">Forks</s-picker-item>
                <option value="stopped_closed">暂停/关闭</s-picker-item>
            </select>
        </div>
        <!--搜索框-->
        <div class="">
            <label class="input">
                <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <g
                            stroke-linejoin="round"
                            stroke-linecap="round"
                            stroke-width="2.5"
                            fill="none"
                            stroke="currentColor"
                    >
                        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"></path>
                        <path d="M14 2v4a2 2 0 0 0 2 2h4"></path>
                    </g>
                </svg>
                <input type="text" class="grow" placeholder="快速搜索"/>
                <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <g
                            stroke-linejoin="round"
                            stroke-linecap="round"
                            stroke-width="2.5"
                            fill="none"
                            stroke="currentColor"
                    >
                        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"></path>
                        <path d="M14 2v4a2 2 0 0 0 2 2h4"></path>
                    </g>
                </svg>
            </label>
        </div>
    </div>
</div>
{% endblock repository %}
{% block js_end %}
{{ super() }}

{% endblock js_end %}