{% extends 'dashboard/workbenches.html' %}
<!-- {{ super() }} 继承父类的内容不重写,而是增加 -->
{% block navigation %}
    {{ super() }}
    <li>仓库</li>
{% endblock navigation %}
{% block css %}
<style>
    .tooltip {
        --tooltip-text-size: 0.7rem;
    }

    .tooltip::before {
        font-size: var(--tooltip-text-size) !important;
    }
</style>
{% endblock css %}
{% block js_start %}

{% endblock js_start %}
{% block repository %}
    <div class="p-2 h-full">
        <div class=" max-w-full repository-head flex justify-between items-center">
            <!--筛选框-->
            <div class="flex-1 w-fit transition">
                <select class="select cursor-pointer w-32 " id="contributeYearSelect">
                    <option disabled selected value="">展示类型</option>
                    <option value="all">全部（包含所有）</option>
                    <option value="personal">我自己的（自己创建的）</option>
                    <option value="joined">我参与的（群组中的，或者提供代码的）</option>
                    <option value="forked">Forks</option>
                </select>
            </div>
            <!--搜索框-->
            <div class="">
                <label class="input">
                    <s2-icon name="repository_search"></s2-icon>
                    <input type="text" class="grow" placeholder="快速搜索"/>
                </label>
            </div>
        </div>
        <div class="repository-content mt-3 max-w-full">
            <ul class="repository-content-ul ">
                <li class="hover:bg-gray-100 border-t border-gray-200 p-4 min-h-35 cursor-pointer transition duration-100 ease-in-out flex flex-col gap-5">
                    <div class="flex">
                        <div class="flex-1 flex justify-start items-center">
                            <div class="tooltip  tooltip-right" data-tip="共有">
                                <s2-icon name="repository_unlocked"></s2-icon>
                            </div>
                            <samp class="text-lg font-bold">
                                <a class="link text-black hover:text-slate-500 no-underline hover:underline  transition-colors duration-200"
                                   href="">
                                    不会换牙的鲨鱼/MiniRepo
                                </a>
                            </samp>
                        </div>
                        <div class="flex items-center gap-4 text-xs text-base-content/50">
                            <div class="flex items-center">
                                <s2-icon name="repository_start"></s2-icon>
                                <div class="tooltip" data-tip="start">
                                    <a class="link no-underline hover:underline ">10</a>
                                </div>
                            </div>
                            <div class="flex items-center">
                                <s2-icon name="repository_fork"></s2-icon>
                                <div class="tooltip " data-tip="Forks">
                                    <a class="link no-underline hover:underline">10</a>
                                </div>
                            </div>
                            <div class="flex items-center">
                                <s2-icon name="repository_eye"></s2-icon>
                                <span>issues</span>
                            </div>
                            <div class="flex items-center">
                                <s2-icon name="repository_eye"></s2-icon>
                                <span>merge requests</span>
                            </div>
                            <div class="flex items-center">
                                <s2-icon name="repository_eye"></s2-icon>
                                <span>不需要没有什么用</span>
                            </div>
                        </div>
                    </div>
                    <div class=" text-sm text-base-content/70">
                        <span>简介：</span>
                        <span>这是一个仓库</span>
                    </div>
                    <div class="flex text-xs text-base-content/50 gap-4 justify-start items-center">
                        <div class="flex items-center">
                            <s2-icon name="repository_code"></s2-icon>
                            <samp class="">Python</samp>
                        </div>
                        <div class="flex items-center">
                            <s2-icon name="repository_time"></s2-icon>
                            <samp class="">6分钟前</samp>
                        </div>
                        <div class="flex items-center">
                            <s2-icon name="repository_attachment"></s2-icon>
                            <samp class="">公有</samp>
                        </div>
                    </div>
                </li>
            </ul>
            <!--需要根据渲染的数据进行显示这个按钮是否显示，如果大于显示页面的4个就显示，如果小于就不显示-->
            <div class="mt-15 flex justify-center">
                <button class=" btn btn-outline font-normal " id="RepositoryLoadMore">
                    加载更多
                </button>

            </div>
        </div>
    </div>
{% endblock repository %}
{% block js_end %}
    {{ super() }}

{% endblock js_end %}