{% extends 'dashboard/workbenches.html' %}
<!-- {{ super() }} 继承父类的内容不重写,而是增加 -->
{% block navigation %}
{{ super() }}
<li>仓库</li>
{% endblock navigation %}
{% block css %}

{% endblock css %}
{% block js_start %}

{% endblock js_start %}
{% block repository %}
<div class="p-2 h-full">
    <div class=" max-w-full repository-head flex justify-between items-center">
        <!--筛选框-->
        <div class="flex-1 w-fit transition">
            <select class="select cursor-pointer w-32 " id="contributeYearSelect">
                <option disabled selected value="">展示类型</option>
                <option value="all">全部</option>
                <option value="personal">我自己的</option>
                <option value="joined">我参与的</option>
                <option value="forked">Forks</option>
                <option value="stopped_closed">暂停/关闭</option>
            </select>
        </div>
        <!--搜索框-->
        <div class="">
            <label class="input">
                <s2-icon name="repository_search"></s2-icon>
                <input type="text" class="grow" placeholder="快速搜索"/>
            </label>
        </div>
    </div>
    <div class="repository-content mt-3 max-w-full">
        <ul class="repository-content-ul ">
            <li class="border-t border-gray-200 p-4 min-h-35 cursor-pointer  transition duration-100 ease-in-out flex flex-col gap-5">
                <div class="flex">
                    <div class="flex-1 flex justify-start items-center">
                        <div class="tooltip  tooltip-right" data-tip="共有">
                            <s2-icon name="repository_unlocked"></s2-icon>
                        </div>
                        <samp class="text-lg font-bold">
                            <a class="link link-primary text-black hover:text-slate-600 no-underline" href="">
                                不会换牙的鲨鱼/MiniRepo
                            </a>
                        </samp>
                    </div>
                    <div class="flex items-center gap-4 text-xs text-base-content/50">
                        <div class="flex items-center">
                            <s2-icon name="repository_eye"></s2-icon>
                            <span>5</span>
                        </div>
                        <div class="flex items-center">
                            <s2-icon name="repository_start"></s2-icon>
                            <span>10</span>
                        </div>
                        <div class="flex items-center">
                            <s2-icon name="repository_fork"></s2-icon>
                            <span>20</span>
                        </div>
                    </div>
                </div>
                <div class=" text-sm text-base-content/70">
                    <span>简介：</span>
                    <span>这是一个仓库</span>
                </div>
                <div class="flex text-xs text-base-content/50 gap-4 justify-start items-center">
                    <div class="flex items-center">
                        <s2-icon name="repository_code"></s2-icon>
                        <samp class="">Python</samp>
                    </div>
                    <div class="flex items-center">
                        <s2-icon name="repository_time"></s2-icon>
                        <samp class="">6分钟前</samp>
                    </div>
                    <div class="flex items-center">
                        <s2-icon name="repository_attachment"></s2-icon>
                        <samp class="">公有</samp>
                    </div>
                </div>
            </li>
            <li class="border-t border-gray-200 p-4 min-h-35 cursor-pointer  transition duration-100 ease-in-out flex flex-col gap-5">
                <div class="flex">
                    <div class="flex-1 flex justify-start items-center">
                        <div class="tooltip  tooltip-right" data-tip="共有">
                            <s2-icon name="repository_unlocked"></s2-icon>
                        </div>
                        <samp class="text-lg font-bold">
                            <a class="link link-primary text-black hover:text-slate-600 no-underline" href="">
                                不会换牙的鲨鱼/MiniRepo
                            </a>
                        </samp>
                    </div>
                    <div class="flex items-center gap-4 text-xs text-base-content/50">
                        <div class="flex items-center">
                            <s2-icon name="repository_eye"></s2-icon>
                            <span>5</span>
                        </div>
                        <div class="flex items-center">
                            <s2-icon name="repository_start"></s2-icon>
                            <span>10</span>
                        </div>
                        <div class="flex items-center">
                            <s2-icon name="repository_fork"></s2-icon>
                            <span>20</span>
                        </div>
                    </div>
                </div>
                <div class=" text-sm text-base-content/70">
                    <span>简介：</span>
                    <span>这是一个仓库</span>
                </div>
                <div class="flex text-xs text-base-content/50 gap-4 justify-start items-center">
                    <div class="flex items-center">
                        <s2-icon name="repository_code"></s2-icon>
                        <samp class="">Python</samp>
                    </div>
                    <div class="flex items-center">
                        <s2-icon name="repository_time"></s2-icon>
                        <samp class="">6分钟前</samp>
                    </div>
                    <div class="flex items-center">
                        <s2-icon name="repository_attachment"></s2-icon>
                        <samp class="">公有</samp>
                    </div>
                </div>
            </li>
            <li class="border-t border-gray-200 p-4 min-h-35 cursor-pointer  transition duration-100 ease-in-out flex flex-col gap-5">
                <div class="flex">
                    <div class="flex-1 flex justify-start items-center">
                        <div class="tooltip  tooltip-right" data-tip="共有">
                            <s2-icon name="repository_unlocked"></s2-icon>
                        </div>
                        <samp class="text-lg font-bold">
                            <a class="link link-primary text-black hover:text-slate-600 no-underline" href="">
                                不会换牙的鲨鱼/MiniRepo
                            </a>
                        </samp>
                    </div>
                    <div class="flex items-center gap-4 text-xs text-base-content/50">
                        <div class="flex items-center">
                            <s2-icon name="repository_eye"></s2-icon>
                            <span>5</span>
                        </div>
                        <div class="flex items-center">
                            <s2-icon name="repository_start"></s2-icon>
                            <span>10</span>
                        </div>
                        <div class="flex items-center">
                            <s2-icon name="repository_fork"></s2-icon>
                            <span>20</span>
                        </div>
                    </div>
                </div>
                <div class=" text-sm text-base-content/70">
                    <span>简介：</span>
                    <span>这是一个仓库</span>
                </div>
                <div class="flex text-xs text-base-content/50 gap-4 justify-start items-center">
                    <div class="flex items-center">
                        <s2-icon name="repository_code"></s2-icon>
                        <samp class="">Python</samp>
                    </div>
                    <div class="flex items-center">
                        <s2-icon name="repository_time"></s2-icon>
                        <samp class="">6分钟前</samp>
                    </div>
                    <div class="flex items-center">
                        <s2-icon name="repository_attachment"></s2-icon>
                        <samp class="">公有</samp>
                    </div>
                </div>
            </li>
            <li class="border-t border-gray-200 p-4 min-h-35 cursor-pointer  transition duration-100 ease-in-out flex flex-col gap-5">
                <div class="flex">
                    <div class="flex-1 flex justify-start items-center">
                        <div class="tooltip  tooltip-right" data-tip="共有">
                            <s2-icon name="repository_unlocked"></s2-icon>
                        </div>
                        <samp class="text-lg font-bold">
                            <a class="link link-primary text-black hover:text-slate-600 no-underline" href="">
                                不会换牙的鲨鱼/MiniRepo
                            </a>
                        </samp>
                    </div>
                    <div class="flex items-center gap-4 text-xs text-base-content/50">
                        <div class="flex items-center">
                            <s2-icon name="repository_eye"></s2-icon>
                            <span>5</span>
                        </div>
                        <div class="flex items-center">
                            <s2-icon name="repository_start"></s2-icon>
                            <span>10</span>
                        </div>
                        <div class="flex items-center">
                            <s2-icon name="repository_fork"></s2-icon>
                            <span>20</span>
                        </div>
                    </div>
                </div>
                <div class=" text-sm text-base-content/70">
                    <span>简介：</span>
                    <span>这是一个仓库</span>
                </div>
                <div class="flex text-xs text-base-content/50 gap-4 justify-start items-center">
                    <div class="flex items-center">
                        <s2-icon name="repository_code"></s2-icon>
                        <samp class="">Python</samp>
                    </div>
                    <div class="flex items-center">
                        <s2-icon name="repository_time"></s2-icon>
                        <samp class="">6分钟前</samp>
                    </div>
                    <div class="flex items-center">
                        <s2-icon name="repository_attachment"></s2-icon>
                        <samp class="">公有</samp>
                    </div>
                </div>
            </li>
        </ul>
        <!--需要根据渲染的数据进行显示这个按钮是否显示，如果大于显示页面的4个就显示，如果小于就不显示-->
        <div class="mt-15 flex justify-center">
            <button class=" btn btn-outline font-normal " id="RepositoryLoadMore">
                加载更多
            </button>

        </div>
    </div>
</div>
{% endblock repository %}
{% block js_end %}
{{ super() }}
<script src="{{ url_for('dashboard_page.static', filename='workbenches/overview/overview.js') }}"></script>
{% endblock js_end %}