{% extends 'u_home.html' %}
<!-- {{ super() }} 继承父类的内容不重写,而是增加 -->
{% block navigation %}
{{ super() }}
<li>代码片段</li>
{% endblock navigation %}
{% block css %}
<style>
    .tooltip {
        --tooltip-text-size: 0.7rem;
    }

    .tooltip::before {
        font-size: var(--tooltip-text-size) !important;
    }
</style>
{% endblock css %}
{% block snippet %}
<div class="p-2 h-full">
    <div class="max-w-full snippet-head flex justify-between items-center">
        <!--筛选框-->
        <div class="flex-1 w-fit">
            <select class="select cursor-pointer w-32
                focus:outline-none
                focus:border-gray-200
                focus:ring-2 focus:ring-indigo-200
                focus:outline-2 focus:outline-offset-0 focus:outline-indigo-700
                transition-all duration-200 ease-in-out" id="contributeYearSelect">
                <option disabled selected value="">展示类型</option>
                <option value="all">全部</option>
                <option value="personal">公开</option>
                <option value="joined">私有</option>
            </select>
        </div>
        <!--搜索框-->
        <label class="input input-bordered w-64 flex items-center gap-2
                      focus-within:outline-none focus-within:border-gray-200
                      focus-within:ring-2 focus-within:ring-indigo-200
                      transition-all duration-200">
            <s2-icon name="repository_search"></s2-icon>
            <input type="text" class="grow text-sm" placeholder="快速搜索"/>
        </label>
    </div>
    <div class="bg-gray-100 mt-1 rounded-sm p-4 flex items-center">
        <span class="text-sm flex items-center gap-1">
            <s2-icon name="tags"></s2-icon>
            标签：
        </span>
        <div class="flex gap-1">
            <div class="badge rounded-sm text-xs badge-outline border-gray-400
            hover:bg-white
            hover:outline-none
            hover:border-gray-400
            hover:ring-2 hover:ring-indigo-200
            transition-all duration-200 ease-in-out
            ">
                <a href="">
                    Outline
                </a>
            </div>
            <div class="badge rounded-sm text-xs badge-outline border-gray-400
            hover:bg-white
            hover:outline-none
            hover:border-gray-400
            hover:ring-2 hover:ring-indigo-200
            transition-all duration-200 ease-in-out
            ">
                <a href=""> Java </a>
            </div>
            <div class="badge rounded-sm text-xs badge-outline border-gray-400
            hover:bg-white
            hover:outline-none
            hover:border-gray-400
            hover:ring-2 hover:ring-indigo-200
            transition-all duration-200 ease-in-out
            ">
                <a href=""> Python </a>
            </div>
        </div>
    </div>
    <div class="snippet-content mt-1 space-y-3">
        <ul class="snippet-content-ul space-y-2 ">
            <li class="hover:bg-gray-100 border border-gray-200 rounded-md p-4 transition-all cursor-pointer">
                <div class="flex">
                    <div class="flex-1 flex justify-start items-center gap-2">
                        <div class="tooltip  tooltip-right" data-tip="公开">
                            <s2-icon name="repository_unlocked"></s2-icon>
                        </div>
                        <div>
                            <a class="text-lg font-semibold text-black hover:text-slate-600 hover:underline transition"
                               href="">
                                代码片段测试
                            </a>
                        </div>
                    </div>
                    <div class="flex items-center gap-4 text-xs text-base-content/50">
                        <div class="flex items-center">
                            <s2-icon name="snippet_comment"></s2-icon>
                            <div class="tooltip " data-tip="评论">
                                <a class="link no-underline hover:underline">10</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3 flex justify-between items-end flex-wrap gap-3">
                    <div class="flex-1 grid grid-rows-2 gap-5">
                        <div class="flex text-sm text-base-content/70">
                            简介：代码测试
                        </div>
                        <div class="flex text-xs text-base-content/50 gap-4 justify-start items-center">
                            <div class="flex items-center">
                                <s2-icon name="snippet_category"></s2-icon>
                                <samp class="">后端接口代码</samp>
                            </div>
                            <div class="flex items-center">
                                <s2-icon name="code"></s2-icon>
                                <samp class="">Python</samp>
                            </div>
                            <div class="flex items-center">
                                <s2-icon name="time"></s2-icon>
                                <samp class="">6分钟前</samp>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-3 gap-1 text-base-content/70"> <!-- 使用更小的字体(text-sm) -->
                        <kbd class="kbd  border-1 border-solid text-xs">测试</kbd>
                        <kbd class="kbd  border-1 border-solid text-xs">Java</kbd>
                        <kbd class="kbd  border-1 border-solid text-xs">接口</kbd>
                        <kbd class="kbd  border-1 border-solid text-xs">后端</kbd>
                        <kbd class="kbd  border-1 border-solid text-xs">数据库</kbd>
                    </div>
                </div>
            </li>
        </ul>
        <!-- 加载更多按钮 -->
        <div class="flex justify-center pt-4">
            <button class="btn btn-outline font-normal hover:bg-white hover:border-gray-400 hover:ring-2 hover:ring-indigo-200"
                    id="RepositoryLoadMore">
                加载更多
            </button>
        </div>
    </div>
</div>
{% endblock snippet %}